In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)

In [2]:
df = pd.read_csv(r"D:\ICTAK\Assignments\Case Study 01\Sales_add.csv")

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
df.shape

(22, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [6]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

## <font color = red> The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

###  Null Hypothesis (Ho)           : The sales before and after stepping into digital marketing are equal.

### Alternate Hypothesis (HA)  : There is a signifant difference in sales after stepping into digital marketing.

In [7]:
from scipy.stats import ttest_rel

In [8]:
t_stat, p_val = ttest_rel(df['Sales_before_digital_add(in $)'], df['Sales_After_digital_add(in $)'])
p_val

6.336667004575778e-11

In [9]:
if p_val < 0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

### <font color = blue> So we can conclue that there is a significant difference in sales after stepping into digital marketing. In the statistical summary, we can see that the the column 'Sales_After_digital_add' has higher statistical values than the column 'Sales_before_digital_add'. Hence we can inform the company that that there is increase in sales after stepping into digital marketing.

## <font color = red> The company needs to check whether there is any dependency between the features “Region” and “Manager”.

### Null Hypothesis (Ho)           : There is no dependency between 'Region' and 'Manager'.

### Alternate Hypothesis (HA)  : There is dependency between 'Region' and 'Manager'.

In [10]:
from scipy.stats import chi2_contingency

In [11]:
table_data=pd.crosstab(df["Region"],df["Manager"])
table_data

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [12]:
chi_stat, pvalue, dof, expected_freq = chi2_contingency(table_data)
pvalue

0.5493991051158094

In [13]:
if pvalue < 0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted

### <font color = blue> So, we can inform the company that there is no dependency between 'Region' and 'Manager'.